/endless-sky
/build/
/.sconsign.dblite
.DS_Store
*.db
LogFile.txt
/EndlessSky.xcodeproj/project.xcworkspace/
/EndlessSky.xcodeproj/xcuserdata/
/obj/Debug/
/obj/Release/
/obj/Win32/
/bin/

LogFile.txt
LogFile.txt
LogFile.txt
